* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    color: var(--main-color);
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 7rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
}

h3 {
    font-size: 4.5rem;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 3.5rem;
}

h6 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table caption {
    font-style: italic;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

table th, table td {
    white-space: nowrap;
    padding: 0.4rem;
    text-align: left;
    border: 0.2rem solid;
}