:root {
    --main-color: #1B2325;
    --secondary-color: #EFF1F2;
    --third-color: #7B8081;
    --fourth-color: #2C4B5D;
    --gap: 3rem; 
}
/*cores #EFF1F2 branco , #7B8081 cinza, #2C4B5D azul, #99A9B2 azul-acizentado, #1B2325 preto-acizentado */

.main-bg {
    background: var(--fourth-color);
    background-size: cover;
    background-position: center center;
    color: var(--secondary-color);
}

.white-bg {
    background: var(--secondary-color);
    color: var(--main-color);
}

.section-pg {
    min-height: 100vh;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--third-color);
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu h1 {
    font-size: 3rem;
    color: var(--main-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    font-family:'Ubuntu', sans-serif;
    color: var(--main-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.3rem;
    background: var(--fourth-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.close-menu {
    display: none;  
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 1.2rem;
    background: var(--fourth-color);
    color: var(--secondary-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 00.1rem solid var(--secondary-color);
}

.space-menu {
    height: 65px;
}

.first-content {
    position: relative;
    top: -6rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.first-text, .first-img {
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
}

.first-img img{
    max-width: 100%;
    height: auto;
}

.second-content {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.third-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: counter-grid;
}

.top3-h2 {
    text-align: center;
    padding-bottom: 5rem;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h3::before {
    counter-increment: counter-grid;
    content: counter(counter-grid);
    position: absolute;
    font-size: 7rem;
    font-style: italic;
    top: -4rem;
    left: -1rem;
    transform: rotate(5deg);
}

.gallery-img {
    width: 92%;
    height: 92%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(3%, 3%) scale(1.2) rotate(5deg);
}

.gallery-h2 {
    text-align: center;
}

.fiveth-content {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

.fieldset-grid {
    grid-column: span 2;
    display: flex;
    gap: var(--gap);
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    padding-top: 1rem;
}

.contact-table {
    flex: 1 1 320px;
}

.contact-table label {
    display: block;
}

.contact-table input,.contact-table textarea {
    padding: 1.2rem 2rem;
    width: 100%;
    font-size: 2rem;
}

.full-width {
    width: 100%;
    flex: 1 1 100%;
}

.contact-table button {
    border: 0.2rem solid var(--fourth-color);
    background: none;
    padding: 1rem 2rem;
    color: var(--fourth-color);
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.contact-table button:hover {
    background: var(--fourth-color);
    color: var(--secondary-color);
}

.contact-table ::placeholder {
    color: rgb(175, 174, 174);
}

.contact-img {
    padding-bottom: 0;
}

.contact-img img {
    max-width: 100%;
    height: auto;
}

#contact h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.main-footer {
    text-align: center;
    font-style: italic;
    padding: 3rem;
}

.main-footer p {
    margin: 0;
}

.main-footer a {
    color: orange;
}

@media (max-width: 860px) {
    .first-content, .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }

    .menu {
        bottom: 0;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content:'☰';
        position: fixed;
        z-index: 2;
        top: 1.2rem;
        right: 1.2rem;
        background: var(--fourth-color);
        color: var(--secondary-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
    }

    .close-menu:checked~.menu{
        display: block;
    }

    .close-menu:checked~.close-menu-label::after{
        content:'X';
    }

    .space-menu {
        display: none;
    }
}